<p><%= @task.name %></p>
<p><%= @task.description %></p>
<p><%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" }  %></p>
<p><%= link_to "Back", tasks_path(@task) %></p>

